.btn {
  width: auto;
  display: inline-block;
  padding-left: $button-padding * 4;
  padding-right: $button-padding * 4;
  font-weight: 700;
}
.btn.btn-active {
  color: $color-white;
  background-color: $color-dark-violet;
}