.hero-container {
  padding: 40px;
  .hero-title {
    @media (min-width: $screen-md) {
      font-size: 60px;
      line-height: 1.1;
    }
    @media (min-width: $screen-xl) {
      font-size: 80px;
    }
  }
  .hero-description {
    color: $color-grayish-violet;
    @media (min-width: $screen-md) {
      font-size: $theme-font-size-base * 1.4;
      line-height: 1.6;
    }
  }
}
.hero-bg-right {
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
