.hero-container {
  padding: 40px;
  .hero-title {
    @media (min-width: $screen-md) {
      font-size: 60px;
    }
  }
  .hero-description {
    color: $color-grayish-violet;
  }
}
.hero-bg-right {
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
