.btn {
  box-shadow: 0 0 12px darken($theme-primary, 10);
}
.btn-primary {
  color: $color-white;
  background-color: $theme-secondary;
  &:hover {
    background-color: darken($theme-secondary, 10);
  }
}