.card-container {
  margin: 0;

}
.card {
  padding: $gutter * 3;
  overflow: hidden;
  background: $color-white;
  border-radius: $border-radius;
  box-shadow: 0 0 12px lighten($color-grayish-blue, 15);
  margin: $gutter;
  border-top: 4px solid #000;
}