.card-container {
  margin: 0;
  overflow: hidden;
  background: $color-white;
  border-radius: $button-border-radius;
  box-shadow: 0 0 12px lighten($color-gray-blue, 15);
}
.card {
  padding: $gutter * 3;
}