.btn, button {
  width: auto;
  display: inline-block;
  padding-left: $button-padding * 4;
  padding-right: $button-padding * 4;
  font-weight: 700;
  color: $color-white;
  background-color: $theme-primary;
  &:hover, &:focus {
    color: $theme-link-color;
  }
}