@use "sass:math";

.form-group {
  position: relative;
  &.has-danger {
    input {
      box-shadow: 0 0 0 3px $alert-danger;
      &::placeholder {
        color: rgba($alert-danger, 0.5);
      }
    }
    .text-help {
      &.pristine-error {
        position: absolute;
        bottom: -12px;
        left: $theme-font-size-base;
        color: $alert-danger;
        font-size: 14px;
        font-style: italic;
      }
    }
  }
}


  table {
    width: 100%;
    margin-top: $gutter * 2;
    margin-bottom: $gutter * 2;
  }
  thead {
    @extend .sr-only;
  }
  tbody {
    tr {
      td {
        padding: $theme-font-size-base ($theme-font-size-base * 2);
        background-color: $color-white;
        button {
          width: 100%;
          min-width: 100px;
          border-radius: 4px;
        }
      }
    }
    tr + tr {
      border-top: $theme-font-size-base solid $color-gray-light;
    }
  }


form.centered {
  @include flexbox();
  @include justify-content(space-around);
  @include flex-direction(column);
  @include align-items(center);
  .form-group {
    margin: 0 0 ($gutter) 0;
    width: 100%;
    @media (min-width: $screen-md) {
      max-width: 350px;
    }
  }
  label, input[type=text], input[type=password] {
    width: 100%;
  }
  label {
    color: $theme-body-text-color;
    display: block;
  }
  button {
    margin-top: $gutter;
  }
 
}
input {
  border-radius: $input-border-radius;
  background-color: rgba($color-white, .8);
}