@media (max-width: $screen-lg - 1px) {
  .table-responsive-stack {
    display: block;
    width: 100%;
    tbody {
      display: block;
      width: 100%;
    }
    tr {
      @include flexbox();
      @include flex-direction(column);
      width: 100%;
    }
  }
}