$themeColours: (
  "primary": $theme-primary,
  "secondary": $theme-secondary,
  "red": $color-red
);

header.header {
  background-color: $color-white;
}
footer.footer {
  color: $color-white;
  background-color: $color-dark-violet;
}
