@use "sass:math";
.menu-container {
  nav {
    a:not(.btn) {
      color: $color-grayish-violet;
      font-weight: 700;
      font-size: $theme-font-size-base * .9;
      &:hover {
        color: $color-very-dark-blue;
      }
    }
  }
  @media (min-width: $screen-md) {
    padding-right: $gutter * 3;
    padding-left: $gutter * 3;
  }
}
