@use "sass:math";
body {
  background-color: $color-gray-light;
  margin: 0;
  padding: 0;
}

header.header, 
.sub-footer-container,
.main-container,
footer.footer {
  @include flexbox();
  width: 100%;
  padding: $gutter;
  @include flex-direction(column);
}
.main-container {
  @include flex-grow(1);
}

$columns: 24;
@media (min-width: $screen-md) {
  @for $i from 1 through $columns {
    .col-#{$i} {
        width: math.div(100, $columns) * $i * 1%;
    }
  }
}