@use "sass:math";
body {
  background-color: $color-gray-light;
}

header.header, 
.sub-footer-container,
.main-container,
footer.footer {
  @include flexbox();
  width: 100%;
  padding: $gutter;
  @include flex-direction(column);
}
header.header {
  padding: 0;
  .container {
    padding: $gutter;
  }
}
.main-container {
  @include flex-grow(1);
}

$columns: 24;