@use "sass:math";
$headingcountmax: 2;
h1 {
  font-size: $theme-font-size-base * 1.7;
  text-align: center;
  @media (min-width: $screen-md) {
    font-size: .5 * (math.div($theme-font-size-base, math.div(1, 5)));
  }
  small {
    display: block; 
    clear: both;
    font-weight: 600;
    font-size: inherit;
  }
} 
p.lead {
  max-width: 700px;
  margin: 0 auto;
  color: $theme-body-text-color;
  font-weight: 200;
  line-height: 1.6;
  text-align: center;
}