%button {
  display: block;
  width: 100%;
  padding: ($button-padding * 2) $button-padding;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-radius: $button-border-radius;
  transition: background-color .2s ease-in;
  &:focus {
    outline: 2px solid darken($theme-primary, 20);
  }
}
button, .btn {
  @extend %button;
}
