@use "sass:math";
.menu-container {
  @include flexbox();
  @include flex-direction(row);
  @include align-items(center);
  nav {
    padding: 0 math.div($gutter, 2);
    @include flexbox();
    @include flex-direction(row);
    @include flex-grow(1);
    @media (min-width: $screen-md) {
      @include justify-content(space-between);
      @include align-items(center);
    }

    a {
      padding: math.div($theme-font-size-base, 2) $theme-font-size-base;
      color: $theme-body-text-color;
      text-decoration: none;
      &:hover {
        color: $theme-primary;
        text-decoration: underline;
      }
    }

  }
}
