@use "sass:math";
body {
  font-family: $theme-font-family;
}
h1 {
  color: $theme-primary;
}
.lead {
  color: $theme-secondary;
}

$count: 0;
@while $count <= 6 {
    h#{$count} {
        font-size: (math.div($theme-font-size-base, math.div($count, 5)));
        line-height: 1.3;
        margin-bottom: $gutter;
        margin-top: 0;
    }

    $count: $count + 1;
}