$themeColours: (
  "primary": $theme-primary,
  "secondary": $theme-secondary
);

@each $themeColour, $i in $themeColours {
  .theme-#{$themeColour} {
    color: $color-white;
    background-color: $i;
  }
}
@each $themeColour, $i in $themeColours {
  .color-#{$themeColour} {
    color: $i;
  }
}