@use "sass:math";
body {
  font-family: $theme-font-family;
  line-height: $theme-font-line-height;
}
h1 {
  color: $theme-primary;
  font-family: $theme-header-font-family;
} 

$count: 1;
@while $count <= 6 {
    h#{$count}, .h#{$count} {
      margin-top: 0;
      margin-bottom: $gutter * 2;
      font-weight: $theme-header-font-weight;
      font-size: .5 * (math.div($theme-font-size-base, math.div($count, 5)));
      line-height: 1.3;
    }

    $count: $count + 1;
}

.lead {
  font-size: 1.2em;
}
.type-feature {
  font-weight: 600;
  font-size: 3em;
}
.type-dimmed {
  opacity: .5;
}
.text-center {
  text-align: center;
}