$color-primary: #003f7f;

$screen-sm: 375px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$gutter: 16px;
$button-padding: 8px;
$border-radius: 8px;


// Colors
$color-white: #fff;
$color-candy-pink: #a71068;
$color-candy-orange: #f19d2d;

$color-gray: #585858;
$color-gray-light: #dddddd;

$theme-primary: $color-candy-pink;
$theme-secondary: $color-candy-orange; 

$theme-font-size-base: 16px;
$theme-header-text-color: $color-gray;
$theme-body-text-color: $theme-header-text-color;
$theme-font-line-height: $theme-font-size-base * 1.5;
$theme-font-family: 'Karla', sans-serif;
$theme-header-font-family: $theme-font-family;
$theme-body-font-weight: 400;
$theme-header-font-weight: $theme-body-font-weight;