$color-primary: #003f7f;

$screen-sm: 375px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$gutter: 16px;
$button-padding: 8px;
$border-radius: 8px;


// Colors
$color-white: #fff;
$color-candy-pink: #a71068;
$color-candy-orange: #f19d2d;

$theme-primary: $color-candy-pink;
$theme-secondary: $color-candy-orange; 

$theme-font-size-base: 16px;
$theme-font-line-height: $theme-font-size-base * 1.4;
$theme-font-family: 'Karla', sans-serif;
$theme-body-text-weight: 400;